@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Font/GothamBook.ttf);
  font-style: normal; }

@font-face {
  font-family: 'GothamBold';
  src: url(../fonts/Gotham-Font/GothamBold.ttf);
  font-style: normal; }

@font-face {
  font-family: 'GothamItalic';
  src: url(../fonts/Gotham-Font/GothamBookItalic.ttf);
  font-style: italic; }

body {
  width: 100%;
  font-family: 'Gotham';
  font-size: 16px;
  color: #999; }

h1 {
  margin-bottom: 1em;
  font-size: 2em;
  text-transform: uppercase; }

h2 {
  padding: 1rem 0;
  font-size: 1.25rem;
  color: black;
  text-transform: uppercase; }

h3 {
  margin: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase; }

b {
  font-family: 'GothamBold'; }

i {
  font-family: 'GothamItalic'; }

p {
  line-height: 1.5em; }

a {
  color: inherit;
  text-decoration: none; }

img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%; }

input, textarea {
  background: none;
  border: none; }

button {
  -webkit-transition: background-color 0.5s ease 0s , color 0.5s ease 0s , border 0.5s ease 0s;
  transition: background-color 0.5s ease 0s , color 0.5s ease 0s , border 0.5s ease 0s;
  text-transform: uppercase;
  border-style: none; }

.colour-line, .under-colour-line {
  height: 4px;
  margin: 0.75em auto; }

.colour-line {
  width: 6rem;
  background-color: #fcac45; }

.under-colour-line {
  width: 4rem;
  margin-bottom: 3rem; }

.team, .clients, .testimonials, .about, .services, .works, .contact {
  width: 100%;
  padding: 4% 12%;
  text-align: center; }

.team, .clients, .testimonials {
  background-color: black; }
  .team h1, .clients h1, .testimonials h1 {
    color: white; }
  .team .under-colour-line, .clients .under-colour-line, .testimonials .under-colour-line {
    background-color: #b37b33; }

.about, .services, .works, .contact {
  background-color: white; }
  .about h1, .services h1, .works h1, .contact h1 {
    color: black; }
  .about .under-colour-line, .services .under-colour-line, .works .under-colour-line, .contact .under-colour-line {
    background-color: #fdc57c; }

.menu-btn {
  position: relative;
  display: none;
  z-index: 3;
  width: 50px;
  height: 50px; }
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    height: 5px;
    background-color: white;
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
    .menu-btn span::before {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
  .menu-btn:hover span, .menu-btn:hover span::before, .menu-btn:hover span::after {
    background-color: #fcac45; }

.menu-btn_active span {
  height: 0; }
  .menu-btn_active span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }
  .menu-btn_active span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }

.welcome-button {
  padding: 1em;
  background-color: black;
  border: solid 2px;
  border-radius: 50%; }
  .welcome-button:hover {
    color: #fcac45; }

.about-button {
  padding: 1em;
  font-size: 0.75rem;
  line-height: 3em;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: unset;
  border: 2px solid #999;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .about-button:hover {
    color: #fcac45;
    border-color: #fcac45; }
  .about-button .fa-briefcase {
    margin-right: 1rem; }

.works-overlay-button {
  padding: 1rem;
  margin: 1rem;
  color: #fcac45;
  background-color: inherit;
  border: 2px solid #fcac45;
  border-radius: 50%; }
  .works-overlay-button:hover {
    color: white;
    background-color: #fcac45; }

.contact-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .contact-forms span {
    color: red; }
  .contact-forms .form-input {
    width: 48%;
    padding-top: 4%;
    margin-bottom: 1rem;
    text-align: left; }
    .contact-forms .form-input input {
      width: 100%;
      padding: 1rem;
      border: 2px solid #999;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
      .contact-forms .form-input input:hover, .contact-forms .form-input input:focus {
        -webkit-box-shadow: 0 3px 5px #999;
        box-shadow: 0 3px 5px #999; }
  .contact-forms .form-textarea {
    width: 100%;
    padding: 2rem 0;
    text-align: left; }
    .contact-forms .form-textarea textarea {
      width: 100%;
      height: 10rem;
      border: 2px solid #999;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
      .contact-forms .form-textarea textarea:hover, .contact-forms .form-textarea textarea:focus {
        -webkit-box-shadow: 0 3px 5px #999;
        box-shadow: 0 3px 5px #999; }
  .contact-forms .empty {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
  .contact-forms .contact-button {
    width: 25%;
    line-height: 3em;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #fcac45;
    border: 2px solid #fcac45; }
    .contact-forms .contact-button:hover {
      color: #fcac45;
      background-color: white; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 5rem;
  padding: 0 12%;
  font-weight: 700;
  color: white;
  background-color: black; }
  .header .logo {
    margin: auto 0;
    color: white; }
    .header .logo a {
      -webkit-transition: color 0.5s ease 0s;
      transition: color 0.5s ease 0s; }
      .header .logo a:hover {
        color: #fcac45; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .nav .nav-item {
      position: relative;
      padding: 1rem 0;
      margin: 0 0.5rem;
      font-size: 0.75rem;
      text-transform: uppercase; }
      .header .nav .nav-item::after {
        -webkit-transition: opacity 0.5s ease 0s;
        transition: opacity 0.5s ease 0s;
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        content: '';
        border-bottom: 5px solid;
        border-image-source: linear-gradient(to right, #292929 50%, #fcac45 50%);
        border-image-slice: 1;
        opacity: 0; }
      .header .nav .nav-item:hover::after {
        opacity: 1; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0; }

.welcome {
  height: 100vh;
  padding: 10% 12% 4%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome .welcome-text {
    padding-bottom: 20%;
    text-align: center; }
  .welcome .welcome-tittle b {
    color: #fcac45; }
  .welcome p {
    margin-top: 1em; }

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .about .about-block {
    width: 45%;
    margin: 0 auto;
    text-align: left; }
    .about .about-block .about-image {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.5s ease 0s;
      transition: -webkit-transform 0.5s ease 0s;
      transition: transform 0.5s ease 0s;
      transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
    .about .about-block .about-image._active {
      -webkit-transform: scale(1);
      transform: scale(1); }
    .about .about-block h1 {
      margin: 0; }
    .about .about-block .colour-line {
      margin: 0; }
    .about .about-block .about-title {
      margin: 1rem 0;
      color: black; }
    .about .about-block p {
      padding: 1rem 0; }
    .about .about-block .about-list {
      margin: 0 0 2em 0;
      line-height: 2em;
      text-align: left; }
      .about .about-block .about-list dd {
        width: 100%;
        padding-left: 0;
        margin-left: 0; }
      .about .about-block .about-list .about-list-item {
        display: list-item;
        float: left;
        padding: 0;
        margin: 0;
        font-size: 1.2em;
        color: black;
        list-style-position: inside;
        list-style-image: url(/images/marker.svg); }
        .about .about-block .about-list .about-list-item::after {
          font-weight: bold;
          white-space: pre;
          content: " - "; }

.team {
  color: white; }
  .team .team-img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    border-radius: 50%; }
  .team .team-item-title {
    padding: 1em 0; }
    .team .team-item-title .team-item-name {
      font-size: 1.25em; }
      .team .team-item-title .team-item-name:hover {
        color: #fcac45; }
  .team .team-item-description {
    font-size: 0.88rem; }

.services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  width: 100%;
  padding: 4%;
  margin: -10px;
  overflow: hidden; }
  .services .services-list .services-items {
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%); }
  .services .services-list._active .services-items {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .services .services-list._active .services-items:nth-child(1) {
      -webkit-transition: -webkit-transform 0.8s ease 0.2s;
      transition: -webkit-transform 0.8s ease 0.2s;
      transition: transform 0.8s ease 0.2s;
      transition: transform 0.8s ease 0.2s, -webkit-transform 0.8s ease 0.2s; }
    .services .services-list._active .services-items:nth-child(2) {
      -webkit-transition: -webkit-transform 0.8s ease 0.4s;
      transition: -webkit-transform 0.8s ease 0.4s;
      transition: transform 0.8s ease 0.4s;
      transition: transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s; }
    .services .services-list._active .services-items:nth-child(3) {
      -webkit-transition: -webkit-transform 0.8s ease 0.6s;
      transition: -webkit-transform 0.8s ease 0.6s;
      transition: transform 0.8s ease 0.6s;
      transition: transform 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s; }
    .services .services-list._active .services-items:nth-child(4) {
      -webkit-transition: -webkit-transform 0.8s ease 0.8s;
      transition: -webkit-transform 0.8s ease 0.8s;
      transition: transform 0.8s ease 0.8s;
      transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s; }
  .services .services-list .services-items-link {
    padding: 0.5rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }
    .services .services-list .services-items-link .services-icon {
      width: 125px;
      height: 125px;
      padding: 30px;
      border: solid 5px #fcac45;
      border-radius: 50%;
      -webkit-transition: background-color 0.5s ease 0s , border-color 0.5s ease 0s;
      transition: background-color 0.5s ease 0s , border-color 0.5s ease 0s; }
    .services .services-list .services-items-link:hover {
      -webkit-box-shadow: 0 0 0 4px #999;
      box-shadow: 0 0 0 4px #999; }
      .services .services-list .services-items-link:hover .services-icon {
        background-color: #fcac45;
        border-color: #999; }
    .services .services-list .services-items-link .services-items-description {
      width: 100%;
      font-size: inherit;
      font-size: 0.88rem;
      color: black; }

.clients .clients-logo {
  width: 100%;
  background-color: white; }

.works .works-container {
  padding-top: 4%; }
  .works .works-container .works-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: none;
    flex-direction: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem; }
    .works .works-container .works-filter .filter-type {
      color: black; }
    .works .works-container .works-filter .filter-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: -0.5rem 0; }
      .works .works-container .works-filter .filter-list .filter-item {
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        padding: 0 1rem;
        margin: 0.5rem 0;
        background: none;
        border-right: 2px solid #999; }
        .works .works-container .works-filter .filter-list .filter-item:last-child {
          border-right: none; }
        .works .works-container .works-filter .filter-list .filter-item:hover {
          padding: 0.5rem 1rem;
          font-weight: bold;
          color: white;
          background-color: #fcac45;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 0 0 0 4px #999;
          box-shadow: 0 0 0 4px #999; }
    .works .works-container .works-filter .filter-list_active {
      right: 0; }
    .works .works-container .works-filter .filter-active {
      font-weight: bold;
      color: black; }
  .works .works-container .works-list {
    margin: -1rem; }
    .works .works-container .works-list .works-item .works-item-holder {
      position: relative;
      margin: 1rem; }
      .works .works-container .works-list .works-item .works-item-holder .works-img {
        width: 100%;
        height: 100%; }
      .works .works-container .works-list .works-item .works-item-holder .works-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-color: #212121;
        opacity: 0; }
        .works .works-container .works-list .works-item .works-item-holder .works-overlay:hover {
          opacity: 0.8;
          -webkit-transition: opacity 0.5s ease 0s;
          transition: opacity 0.5s ease 0s; }
        .works .works-container .works-list .works-item .works-item-holder .works-overlay h3 {
          color: white; }

.testimonials .testimonials-text {
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase; }

.testimonials .testimonials-author a {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .testimonials .testimonials-author a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none; }

.contact .contact-forms {
  padding: 0 12%; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  padding: 0 12%;
  background-color: #212121; }
  #footer a {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    #footer a:hover {
      font-weight: bold;
      color: #fcac45;
      text-decoration: none; }

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social-icons-list .social-icons {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 3rem;
    margin-left: 0.5rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #999;
    border-radius: 50%; }
    .social-icons-list .social-icons:hover {
      background-color: #fcac45;
      border: none; }
      .social-icons-list .social-icons:hover i {
        color: white; }

@media only screen and (min-width: 1201px) {
  .works-item {
    width: 25%; }
  .services-items {
    width: 25%; } }

@media only screen and (max-width: 1200px) {
  .works-item {
    width: 33%; }
  .services-items {
    width: 45%; } }

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    top: 5rem;
    right: -30%;
    width: 15%;
    min-width: 120px;
    padding-left: 1rem;
    background-color: black;
    opacity: 0;
    -webkit-transition: right 1s;
    transition: right 1s; }
    .nav .nav-item {
      text-align: left; }
  .nav_active {
    right: 0;
    opacity: 1; }
  .menu-btn {
    display: block; } }

@media only screen and (max-width: 768px) {
  .about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about .about-block {
      width: 100%; }
  .works-filter {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .works-filter .filter-type, .works-filter .filter-list {
      width: 100%; }
    .works-filter .filter-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .works-filter .filter-list .filter-item {
        width: 50%; } }

@media only screen and (max-width: 576px) {
  body {
    font-size: 12px; }
  .services-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .services-list .services-items {
      width: 100%; }
  .works-item {
    width: 48%; }
  .form-input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .social-icons-list .social-icons {
    width: 1.5rem;
    margin-left: 0.3rem;
    line-height: 1.5rem; } }
