@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Gotham-Font/gothambook.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/Gotham-Font/gothambook.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Font/gothambook.ttf) format("truetype"), url(../fonts/Gotham-Font/gothambook.woff2) format("woff2"), url(../fonts/Gotham-Font/gothambook.woff) format("woff"), url(../fonts/Gotham-Font/gothambook.svg#svgFontName) format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GothamItalic';
  font-style: italic;
  src: url(../fonts/Gotham-Font/gothambookitalic.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/Gotham-Font/gothambookitalic.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Font/gothambookitalic.ttf) format("truetype"), url(../fonts/Gotham-Font/gothambookitalic.woff2) format("woff2"), url(../fonts/Gotham-Font/gothambookitalic.woff) format("woff"), url(../fonts/Gotham-Font/gothambookitalic.svg#svgFontName) format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GothamBold';
  font-style: normal;
  src: url(../fonts/Gotham-Font/gothambold.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/Gotham-Font/gothambold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Font/gothambold.ttf) format("truetype"), url(../fonts/Gotham-Font/gothambold.woff2) format("woff2"), url(../fonts/Gotham-Font/gothambold.woff) format("woff"), url(../fonts/Gotham-Font/gothambold.svg#svgFontName) format("svg");
  /* Legacy iOS */ }

body {
  width: 100%;
  font-family: 'Open Sans', 'arial', sans-serif;
  font-size: 16px;
  color: #6c6c6c;
  -webkit-font-smoothing: antialiased; }

i {
  font-style: italic; }

b {
  font-weight: 600; }

h1 {
  margin: 2rem 0 1.7rem;
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif; }

h3 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  text-transform: uppercase; }

p {
  line-height: 1.5em; }

a {
  color: inherit;
  text-decoration: none; }

img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%; }

input, textarea {
  width: 100%;
  padding: 1rem;
  background: none;
  border: 2px solid #6c6c6c; }
  input:hover, input:focus, textarea:hover, textarea:focus {
    -webkit-box-shadow: 0 3px 5px #6c6c6c;
    box-shadow: 0 3px 5px #6c6c6c; }
  input:invalid, textarea:invalid {
    border: 2px solid red; }

button {
  -webkit-transition: background-color 0.5s ease 0s , color 0.5s ease 0s , border 0.5s ease 0s;
  transition: background-color 0.5s ease 0s , color 0.5s ease 0s , border 0.5s ease 0s;
  text-transform: uppercase;
  border-style: none; }

.colour-line {
  position: relative;
  width: 6rem;
  height: 0.25rem;
  margin: 0.75rem auto;
  background-color: #fcac45; }
  .colour-line::after {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 0.25rem;
    content: ''; }

.team, .clients, .testimonials, .about, .services, .works, .contact {
  width: 100%;
  padding: 4% 12%;
  text-align: center; }

.team, .clients, .testimonials {
  background-color: black; }
  .team h1, .clients h1, .testimonials h1 {
    color: white; }
  .team .colour-line::after, .clients .colour-line::after, .testimonials .colour-line::after {
    background-color: #b37b33; }

.about, .services, .works, .contact {
  background-color: white; }
  .about h1, .services h1, .works h1, .contact h1 {
    color: #222; }
  .about .colour-line::after, .services .colour-line::after, .works .colour-line::after, .contact .colour-line::after {
    background-color: #fdc57c; }

.menu-btn {
  position: relative;
  display: none;
  z-index: 3;
  width: 50px;
  height: 50px; }
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 100%;
    height: 5px;
    background-color: white;
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
    .menu-btn span::before {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 5px;
      background-color: white;
      content: '';
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
  .menu-btn:hover span, .menu-btn:hover span::before, .menu-btn:hover span::after {
    background-color: #fcac45; }

.menu-btn_active span {
  height: 0; }
  .menu-btn_active span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }
  .menu-btn_active span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center; }

.welcome-button {
  -webkit-transition: color 0.5s ease 0s , border-color 0.5s ease 0s;
  transition: color 0.5s ease 0s , border-color 0.5s ease 0s;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  border: solid 2px #6c6c6c;
  border-radius: 50%; }
  .welcome-button:hover {
    color: #fcac45;
    border-color: #fcac45; }

.about-button {
  -webkit-transition: color 0.5s ease 0s , border-color 0.5s ease 0s;
  transition: color 0.5s ease 0s , border-color 0.5s ease 0s;
  padding: 1em 1.6rem;
  font-size: 0.75rem;
  line-height: 3em;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: unset;
  border: 2px solid #6c6c6c;
  border-radius: 3px; }
  .about-button:hover {
    color: #fcac45;
    border-color: #fcac45; }
  .about-button .fa-briefcase {
    margin-right: 0.5rem; }

.works-overlay-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: lighter;
  color: #fcac45;
  background-color: inherit;
  border: 2px solid #fcac45;
  border-radius: 50%; }
  .works-overlay-button:hover {
    color: white;
    background-color: #fcac45; }

.contact-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0 12rem;
  margin-bottom: 2.7rem; }
  .contact-forms span {
    color: red; }
  .contact-forms .form-input {
    width: 48%;
    margin: 5.5rem 0 1rem;
    text-align: left; }
    .contact-forms .form-input input {
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
      height: 2rem;
      padding: 1.25rem 1rem;
      margin-top: 2px; }
  .contact-forms .form-textarea {
    width: 100%;
    padding: 0.7rem 0;
    text-align: left; }
    .contact-forms .form-textarea textarea {
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
      height: 10.5rem; }
  .contact-forms .form-name {
    font-size: 0.875rem; }
  .contact-forms .empty {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
  .contact-forms .contact-button {
    width: 22.5%;
    margin-top: 1.4rem;
    line-height: 2rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #fcac45;
    border: 2px solid #fcac45; }
    .contact-forms .contact-button:hover {
      color: #fcac45;
      background-color: white; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 8.2rem;
  padding: 0 12%;
  font-weight: 700;
  color: white;
  background-color: black; }
  .header .logo {
    -webkit-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
    margin: auto 0;
    font-family: 'Lato', sans-serif;
    color: white; }
    .header .logo b:hover {
      color: #fcac45; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .nav .nav-item {
      position: relative;
      padding: 1rem 0;
      margin-left: 1.68rem;
      font-family: 'Lato', 'arial', sans-serif;
      font-size: 0.875rem;
      font-weight: 700;
      text-transform: uppercase; }
      .header .nav .nav-item::after {
        -webkit-transition: opacity 0.5s ease 0s;
        transition: opacity 0.5s ease 0s;
        position: absolute;
        top: 3rem;
        left: -10%;
        width: 120%;
        content: '';
        border-bottom: 4px solid;
        border-image-source: linear-gradient(to right, #292929 50%, #fcac45 50%);
        border-image-slice: 1;
        opacity: 0; }
      .header .nav .nav-item:hover::after {
        opacity: 1; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0; }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 10% 12% 4%;
  background-color: black; }
  .welcome .welcome-text {
    width: 100%;
    padding-bottom: 20%;
    text-align: center; }
  .welcome .welcome-tittle {
    margin-bottom: 1.25rem;
    font-size: 2.75rem;
    color: #999;
    letter-spacing: -2px; }
    .welcome .welcome-tittle b {
      font-weight: 700;
      color: #fcac45; }
  .welcome .welcome-description {
    font-size: 1.25rem;
    color: #fff;
    letter-spacing: -1px; }
    .welcome .welcome-description b {
      font-weight: 700; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -1rem; }
  .about .about-img-block, .about .about-txt-block {
    width: 44.5%; }
  .about .about-img-block {
    margin: 2.5rem 1rem; }
    .about .about-img-block .about-image {
      -webkit-transition: -webkit-transform 0.5s ease 0s;
      transition: -webkit-transform 0.5s ease 0s;
      transition: transform 0.5s ease 0s;
      transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
      -webkit-transform: scale(0);
      transform: scale(0); }
    .about .about-img-block .about-image._active {
      -webkit-transform: scale(1);
      transform: scale(1); }
  .about .about-txt-block {
    padding-left: 4.25rem;
    margin-top: 2.32rem;
    text-align: left; }
    .about .about-txt-block h3 {
      margin: 0;
      color: #636363; }
    .about .about-txt-block .colour-line {
      margin: 0.5rem 0 1.65rem; }
      .about .about-txt-block .colour-line::after {
        display: none; }
    .about .about-txt-block .about-title {
      margin-top: 3px;
      font-size: 2.125rem;
      color: #222;
      text-transform: uppercase;
      letter-spacing: -0.8px; }
      .about .about-txt-block .about-title b {
        font-weight: 700; }
    .about .about-txt-block .about-text {
      font-size: 1.125;
      line-height: 1.55em;
      letter-spacing: 0.15px; }
    .about .about-txt-block .about-list {
      margin: 2.25rem 0 3rem 0;
      line-height: 2em; }
      .about .about-txt-block .about-list .about-list-term {
        display: inline;
        font-size: 1.125rem;
        color: #5a5a5a; }
        .about .about-txt-block .about-list .about-list-term::before {
          white-space: pre;
          content: url(/images/marker.png) " "; }
        .about .about-txt-block .about-list .about-list-term::after {
          font-weight: bold;
          white-space: pre;
          content: " - "; }
      .about .about-txt-block .about-list .about-list-definition {
        display: inline;
        width: 100%;
        letter-spacing: -0.15px; }

.team {
  color: white; }
  .team .colour-line {
    margin-bottom: 6.5rem; }
  .team .slick-slider-team {
    margin-bottom: 1.5rem; }
  .team .team-img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%; }
    .team .team-img img {
      width: auto;
      height: 100%; }
  .team .team-item-title {
    padding: 1.2rem 0 2rem; }
    .team .team-item-title .team-item-name {
      font-size: 1.25em; }
      .team .team-item-title .team-item-name:hover {
        color: #fcac45; }
      .team .team-item-title .team-item-name b {
        font-weight: 700; }
  .team .team-item-description {
    font-size: 0.875rem;
    line-height: 1.4rem; }

.services .colour-line {
  margin-bottom: 3rem; }

.services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  width: 100%;
  margin: 6.4rem 0 2rem;
  overflow: hidden; }
  .services .services-list .services-items {
    color: #222;
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
    width: 23%; }
  .services .services-list._active .services-items {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .services .services-list._active .services-items:nth-child(1) {
      -webkit-transition: -webkit-transform 0.8s ease 0.2s;
      transition: -webkit-transform 0.8s ease 0.2s;
      transition: transform 0.8s ease 0.2s;
      transition: transform 0.8s ease 0.2s, -webkit-transform 0.8s ease 0.2s; }
    .services .services-list._active .services-items:nth-child(2) {
      -webkit-transition: -webkit-transform 0.8s ease 0.4s;
      transition: -webkit-transform 0.8s ease 0.4s;
      transition: transform 0.8s ease 0.4s;
      transition: transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s; }
    .services .services-list._active .services-items:nth-child(3) {
      -webkit-transition: -webkit-transform 0.8s ease 0.6s;
      transition: -webkit-transform 0.8s ease 0.6s;
      transition: transform 0.8s ease 0.6s;
      transition: transform 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s; }
    .services .services-list._active .services-items:nth-child(4) {
      -webkit-transition: -webkit-transform 0.8s ease 0.8s;
      transition: -webkit-transform 0.8s ease 0.8s;
      transition: transform 0.8s ease 0.8s;
      transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s; }
  .services .services-list .services-items-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    border-radius: 10px; }
    .services .services-list .services-items-link .services-icon {
      -webkit-transition: background-color 0.5s ease 0s , border-color 0.5s ease 0s;
      transition: background-color 0.5s ease 0s , border-color 0.5s ease 0s;
      width: 125px;
      height: 125px;
      padding: 30px 30px 25px;
      border: solid 5px #fcac45;
      border-radius: 50%; }
    .services .services-list .services-items-link:hover {
      -webkit-box-shadow: 0 0 0 4px #6c6c6c;
      box-shadow: 0 0 0 4px #6c6c6c; }
      .services .services-list .services-items-link:hover .services-icon {
        background-color: #fcac45;
        border-color: #6c6c6c; }
    .services .services-list .services-items-link .services-items-tittle {
      margin: 1.3rem 0 0.5rem;
      font-size: 1.5625rem;
      text-transform: uppercase; }
    .services .services-list .services-items-link .services-items-description {
      width: 100%;
      font-size: inherit;
      font-size: 0.875rem; }

.clients .colour-line {
  margin: 0.75rem auto 7rem; }

.clients .slick-slider-clients {
  margin-bottom: 2.5rem; }

.clients .clients-logo {
  width: 100%;
  background-color: white;
  margin-bottom: 1.8rem; }

.works {
  min-height: 100vh; }
  .works .colour-line {
    margin-bottom: 3rem; }
  .works .works-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: none;
    flex-direction: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 3.5rem 0 3.6rem;
    font-size: 1.125rem;
    color: #222; }
    .works .works-filter .filter-type {
      min-width: 20%;
      padding: 0;
      text-align: left;
      text-transform: uppercase; }
      .works .works-filter .filter-type b {
        display: block; }
    .works .works-filter .filter-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
      .works .works-filter .filter-list .filter-item {
        -webkit-transition: color 0.5s ease 0s , font-weight 0.5s ease 0s;
        transition: color 0.5s ease 0s , font-weight 0.5s ease 0s;
        padding: 0 0.85rem;
        text-align: right;
        text-transform: none;
        background: none;
        border-right: 2px solid #6c6c6c; }
        .works .works-filter .filter-list .filter-item:last-child {
          padding-right: 0;
          border-right: none; }
        .works .works-filter .filter-list .filter-item:hover {
          font-weight: 600; }
    .works .works-filter .filter-list_active {
      right: 0; }
    .works .works-filter .filter-active {
      font-weight: 600; }
  .works .works-list {
    margin: -1.7rem -1rem 1.2rem; }
    .works .works-list .works-item-holder {
      position: relative;
      margin: 1rem; }
      .works .works-list .works-item-holder .works-img {
        width: 100%;
        height: 100%; }
      .works .works-list .works-item-holder .works-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-color: #212121;
        opacity: 0; }
        .works .works-list .works-item-holder .works-overlay:hover {
          -webkit-transition: opacity 0.5s ease 0s;
          transition: opacity 0.5s ease 0s;
          opacity: 0.8; }
        .works .works-list .works-item-holder .works-overlay h3 {
          color: white; }
        .works .works-list .works-item-holder .works-overlay .overlay-chosen-filter {
          font-size: 0.875rem;
          color: #b2b2b2; }

.testimonials .colour-line {
  margin-bottom: 6.8rem; }

.testimonials .slick-slider-testimonials {
  margin-bottom: 2.2rem; }

.testimonials .testimonials-text {
  padding: 0 5rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  color: #e7e7e7;
  text-transform: uppercase; }

.testimonials .testimonials-author {
  font-size: 1.125rem;
  font-weight: 300;
  color: #b2b2b2; }
  .testimonials .testimonials-author a {
    -webkit-transition: font-weight 0.5s ease 0s , color 0.5s ease 0s;
    transition: font-weight 0.5s ease 0s , color 0.5s ease 0s; }
    .testimonials .testimonials-author a:hover {
      font-weight: bold;
      color: white;
      text-decoration: none; }

.contact .colour-line {
  margin-bottom: 3.15rem; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -ms-flex-direction: unset;
  flex-direction: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 95px;
  padding: 1rem 12%;
  color: #b2b2b2;
  background-color: #212121; }
  #footer .copyright {
    font-size: 0.75rem;
    text-transform: uppercase; }
    #footer .copyright a {
      -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
      transition: color 0.5s ease 0s , background-color 0.5s ease 0s; }
      #footer .copyright a b {
        font-weight: 700; }
      #footer .copyright a:hover {
        color: #fcac45; }

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1rem; }
  .social-icons-list .social-icons {
    -webkit-transition: background-color 0.5s ease 0s , color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s , color 0.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    border: 2px solid #6c6c6c;
    border-radius: 50%; }
    .social-icons-list .social-icons:hover {
      background-color: #fcac45;
      border-color: #fcac45; }
      .social-icons-list .social-icons:hover i {
        color: white; }

@media only screen and (min-width: 1201px) {
  .works-item {
    width: 25%; }
  .services-items {
    width: 25%; } }

@media only screen and (max-width: 1200px) {
  .works-item {
    width: 33%; }
  .services-items {
    width: 45%; } }

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    top: 5rem;
    right: -30%;
    width: 15%;
    min-width: 120px;
    padding-left: 1rem;
    background-color: black;
    opacity: 0;
    -webkit-transition: right 1s;
    transition: right 1s; }
    .nav .nav-item {
      text-align: left; }
  .nav_active {
    right: 0;
    opacity: 1; }
  .menu-btn {
    display: block; } }

@media only screen and (max-width: 768px) {
  .about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about .about-block {
      width: 100%; }
  .works-filter {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .works-filter .filter-type {
      width: 100%; }
    .works-filter .filter-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .works-filter .filter-list .filter-item {
        width: 50%; }
        .works-filter .filter-list .filter-item:nth-child(2) {
          border-right: none; }
  .works-overlay-button {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem; } }

@media only screen and (max-width: 576px) {
  body {
    font-size: 12px; }
  .services-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .services-list .services-items {
      width: 100%; }
  .works-item {
    width: 48%; }
    .works-item h3 {
      font-size: 0.75rem; }
  .form-input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  #footer p {
    max-width: 50%;
    font-size: 0.75rem; }
  #footer .social-icons-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 5rem; }
    #footer .social-icons-list .social-icons {
      width: 2rem;
      height: 2rem;
      margin: 0 0 0.3rem 0.3rem;
      line-height: 2rem; } }
