@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Gotham-Font/gothambook.eot); /* IE9 Compat Modes */
    src:url(../fonts/Gotham-Font/gothambook.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/Gotham-Font/gothambook.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/Gotham-Font/gothambook.woff2) format('woff2'), /* Super Modern Browsers */
        url(../fonts/Gotham-Font/gothambook.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/Gotham-Font/gothambook.svg#svgFontName) format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GothamItalic';
    font-style: italic;
    src: url(../fonts/Gotham-Font/gothambookitalic.eot); /* IE9 Compat Modes */
    src:url(../fonts/Gotham-Font/gothambookitalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/Gotham-Font/gothambookitalic.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/Gotham-Font/gothambookitalic.woff2) format('woff2'), /* Super Modern Browsers */
        url(../fonts/Gotham-Font/gothambookitalic.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/Gotham-Font/gothambookitalic.svg#svgFontName) format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GothamBold';
    font-style: normal;
    src: url(../fonts/Gotham-Font/gothambold.eot); /* IE9 Compat Modes */
    src:url(../fonts/Gotham-Font/gothambold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/Gotham-Font/gothambold.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/Gotham-Font/gothambold.woff2) format('woff2'), /* Super Modern Browsers */
        url(../fonts/Gotham-Font/gothambold.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/Gotham-Font/gothambold.svg#svgFontName) format('svg'); /* Legacy iOS */
}
