#footer {
    @include flex(unset, null, space-between, center);

    min-height: 90px;
    padding: 0 $padding-hor;
    background-color: #212121;

    a {
        @include transition(all);

        &:hover {
            font-weight: bold;
            color: $orange;
            text-decoration: none;
        }
    }
}
