#footer {
    @include flex(unset, unset, space-between, center);

    min-height: 90px;
    padding: 1rem $padding-hor;
    color: #b2b2b2;
    background-color: #212121;

    .copyright {
        font-size: 0.75rem;
        text-transform: uppercase;

        a {
            @include transition(color background-color);

            b {
                font-weight: 700;
            }

            &:hover {
                color: $orange;
            }
        }
    }
}
