#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 $padding-hor;
    background-color: #212121;

    a {
        @include transition(all);

        &:hover {
            font-weight: bold;
            color: $orange;
            text-decoration: none;
        }
    }
}
