.menu-btn {
    position: relative;
	display: none;
	z-index: 3;
	width: 50px;
	height: 50px;

    span {
		position: absolute;
		top: 50%;
		margin-top: -5px;
		width: 100%;
		height: 5px;
		background-color: white;
        @include transition(background-color);

		&::before {
			position: absolute;
			top: 50%;
			margin-top: -5px;
			width: 100%;
			height: 5px;
			background-color: white;
			content: '';
			display: block;
			transition: 0.2s;
			transform: translateY(-10px);
		}

        &::after {
			position: absolute;
			top: 50%;
			width: 100%;
			height: 5px;
			background-color: white;
			content: '';
			display: block;
			transition: 0.2s;
			transform: translateY(10px);
		}
	}

    &:hover {
        span, span::before, span::after {
            background-color: $orange;
        }
    }
}

.menu-btn_active {

    span {
		height: 0;

        &:before {
            transform: rotate(-45deg);
			transform-origin: center;
		}

		&:after {
            transform: rotate(45deg);
			transform-origin: center;
        }
    }
}

.welcome-button {
    @include transition(color border-color);

    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    border: solid 2px $gray;
    border-radius: 50%;

    &:hover {
        color: $orange;
        border-color: $orange;
    }
}

.about-button {
    @include transition(color border-color);

    padding: 1em;
    font-size: 0.75rem;
    line-height: 3em;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: unset;
    border: 2px solid $gray;
    border-radius: 3px;

    &:hover {
        color: $orange;
        border-color: $orange;
    }

    .fa-briefcase {
        margin-right: 1rem;
    }
}

.works-overlay-button {
    @include flex(null,null,center, center);

    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
    color: $orange;
    background-color: inherit;
    border: 2px solid $orange;
    border-radius: 50%;

    &:hover {
        color: white;
        background-color: $orange;
    }
}

.contact-forms {
    @include flex(wrap, null, space-between, stretch);

    span {
        color: red;
    }

    .form-input {
        width: 48%;
        padding-top: $padding-ver;
        margin-bottom: 1rem;
        text-align: left;

        input {
            @include transition(box-shadow);
        }
    }

    .form-textarea {
        width: 100%;
        padding: 2rem 0;
        text-align: left;

        textarea {
            @include transition(box-shadow);

            height: 10rem;
        }
    }

    .form-name {
        font-size: 0.875rem;
    }

    .empty {
        flex-basis: 75%;
    }

    .contact-button {
        width: 25%;
        line-height: 3em;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        background-color: $orange;
        border: 2px solid $orange;

        &:hover {
            color: $orange;
            background-color: white;
        }
    }
}
