@media only screen and (min-width: 1201px) {
    .works-item {
        width: 25%;
    }

    .services-items {
        width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .works-item {
        width: 33%;
    }

    .services-items {
        width: 45%;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .nav {
        @include flex(unset,column,space-between, flex-start);

        position: absolute;
        top: 5rem;
        right: -30%;
        width: 15%;
        min-width: 120px;
        padding-left: 1rem;
        background-color: black;
        opacity: 0;
        transition: right 1s;

        .nav-item {
            text-align: left;
        }
    }

    .nav_active {
        right: 0;
        opacity: 1;
    }

    .menu-btn {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        flex-wrap: wrap;

        .about-block {
            width: 100%;
        }
    }

    .works-filter {
        flex-wrap: wrap;

        .filter-type {
            width: 100%;
        }

        .filter-list {
            flex-wrap: wrap;

            .filter-item {
                width: 50%;
                // border: none;

                &:nth-child(2) {
                    border-right: none;
                    // border: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 12px;
    }

    .services-list {
        flex-wrap: wrap;

        .services-items {
            width: 100%;
        }
    }

    .works-item {
        width: 48%;

        h3 {
            font-size: 0.75rem;
        }

        .works-overlay-button {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
        }
    }

    .form-input {
        flex-basis: 100%;
    }

    #footer {
        p {
            max-width: 50%;
            font-size: 0.75rem;
        }

        .social-icons-list {
            flex-wrap: wrap;
            width: 5rem;

            .social-icons {
                width: 2rem;
                margin: 0 0 0.3rem 0.3rem;
                line-height: 1.5rem;
            }
        }
    }
}
