.welcome {
    @include flex(wrap,column,center,center);

    height: 100vh;
    padding: 10% $padding-hor $padding-ver;
    background-color: black;

    .welcome-text {
        width: 100%;
        padding-bottom: 20%;
        text-align: center;
    }

    .welcome-tittle {
        margin-bottom: 1.25rem;
        font-size: 2.75rem;
        color: #999;
        letter-spacing: -2px;

        b {
            font-weight: 700;
            color: $orange;
        }
    }

    .welcome-description {
        font-size: 1.25rem;
        color: #fff;
        letter-spacing: -1px;

        b {
            font-weight: 700;
        }
    }
}

.about {
    @include flex(unset, unset, space-between, flex-start);
    @include block-style(white);

    margin: 0 -1rem;

    %about-block {
        width: 44.5%;
    }

    .about-img-block {
        @extend %about-block;

        margin: 2.5rem 1rem;

        .about-image {
            @include transition(transform);

            transform: scale(0);
        }

        .about-image._active {
            transform: scale(1);
        }
    }

    .about-txt-block {
        @extend %about-block;

        padding-left: 4.25rem;
        margin-top: 2.32rem;
        text-align: left;

        h3 {
            margin: 0;
            color: #636363;
        }

        .colour-line {
            margin: 0.5rem 0 1.65rem;

            &::after {
                display: none;
            }
        }

        .about-title {
            margin-top: 3px;
            font-size: 2.125rem;
            color: #222;
            text-transform: uppercase;
            letter-spacing: -0.8px;

            b {
                font-weight: 700;
            }
        }

        .about-text {
            font-size: 1.125;
            line-height: 1.55em;
            letter-spacing: 0.15px;
        }

        .about-list {
            margin: 2.25rem 0 3rem 0;
            line-height: 2.1em;

            .about-list-term {
                position: relative;
                display: inline;
                font-size: 1.125rem;
                color: $dtColor;
                padding-left: 1.3em;

                &::before {
                    position: absolute;
                    top: 40%;
                    left: 7%;
                    width: 0.3em;
                    height: 0.3em;
                    content: "";
                    background-color: $dtColor;
                    border: solid white 2px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 2px $dtColor;
                }

                // &::after {
                //     position: absolute;
                //     top: 47%;
                //     left: 30%;
                //     width: 1em;
                //     height: 1em;
                //     content: " ";
                //     border: solid black 1px;
                //     border-radius: 50%;
                // }
            }

            .about-list-definition {
                display: inline;
                width: 100%;
                letter-spacing: -0.15px;

                &::before {
                    font-weight: bold;
                    white-space: pre;
                    content: " - ";
                }
            }
        }
    }
}

.team {
    @include block-style(black);

    color: white;

    .colour-line {
        margin-bottom: 6.5rem;
    }

    .slick-slider-team {
        margin-bottom: 1.5rem;
    }

    .team-img {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: auto;
            height: 100%;
        }
    }

    .team-item-title {
        padding: 1.2rem 0 2rem;

        .team-item-name {
            font-size: 1.25em;

            &:hover {
                color: $orange;
            }

            b {
                font-weight: 700;

            }
        }
    }

    .team-item-description {
        font-size: 0.875rem;
        line-height: 1.4rem;
    }
}

.services {
    @include block-style(white);

    .colour-line {
        margin-bottom:  3rem;
    }

    .services-list {
        @include flex(wrap, unset, space-between, unset);

        width: 100%;
        margin: 6.4rem 0 2rem;
        overflow: hidden;

        .services-items {
            color: #222;
            opacity: 0;
            transform: translate(0, 120%);
        }

        &._active .services-items {
            opacity: 1;
            transform: translate(0, 0);

            @for $serviceNumber from 1 through 4 {
                $delayTime: $serviceNumber*0.2;

                &:nth-child(#{$serviceNumber}) {
                    transition: transform 0.8s ease #{$delayTime + s};
                }
            }
        }

        .services-items-link {
            @include flex(unset, column, unset, center);
            @include transition(box-shadow);

            border-radius: 10px;

            .services-icon {
                @include transition(background-color border-color);

                width: 125px;
                height: 125px;
                padding: 30px 30px 25px;
                border: solid 5px $orange;
                border-radius: 50%;
            }

            &:hover {
                box-shadow: 0 0 0 4px $gray;

                .services-icon {
                    background-color: $orange;
                    border-color: $gray;
                }
            }

            .services-items-tittle {
                margin: 1.3rem 0 0.5rem;
                font-size: 1.5625rem;
                text-transform: uppercase;
            }

            .services-items-description {
                width: 100%;
                font-size: inherit;
                font-size: 0.875rem;
            }
        }
    }
}

.clients {
    @include block-style(black);

    .colour-line {
        margin: 0.75rem auto 7rem;
    }

    .slick-slider-clients {
        margin-bottom: 2.5rem;
    }

    .clients-logo {
        width: 100%;
        background-color: white;
        margin-bottom: 1.8rem;
    }
}

.works {
    @include block-style(white);

    min-height: 100vh;

    .colour-line {
        margin-bottom: 3rem;
    }

    .works-filter {
        @include flex(none,none,space-between, center);

        width: 100%;
        margin: 3.5rem 0 3.6rem;
        font-size: 1.125rem;
        color: #222;

        .filter-type {
            min-width: 20%;
            padding: 0;
            text-align: left;
            text-transform: uppercase;

            b {
                display: block;
            }
        }

        .filter-list {
            @include flex(null,null,flex-end, center);

            width: 100%;

            .filter-item {
                @include transition(color font-weight);

                padding: 0 0.85rem;
                text-align: right;
                text-transform: none;
                background: none;
                border-right: 2px solid $gray;

                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }

                &:hover {
                    font-weight: 600;
                }
            }
        }

        .filter-list_active {
            right: 0;
        }

        .filter-active {
            font-weight: 600;
        }
    }

    .works-list {
        margin: -1.7rem -1rem 1.2rem;

        .works-item-holder {
            position: relative;
            margin: 1rem;

            .works-img {
                width: 100%;
                height: 100%;
            }

            .works-overlay {
                @include flex(null,column,center, center);

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                background-color: #212121;
                opacity: 0;

                &:hover {
                    @include transition(opacity);

                    opacity: 0.8;
                }

                h3 {
                    color: white;
                }

                .overlay-chosen-filter {
                    font-size: 0.875rem;
                    color: #b2b2b2;
                }
            }
        }
    }
}

.testimonials {
    @include block-style(black);

    .colour-line {
        margin-bottom: 6.8rem;
    }

    .slick-slider-testimonials {
        margin-bottom: 2.2rem;
    }

    .testimonials-text {
        padding: 0 5rem;
        margin-bottom: 2rem;
        font-size: 1.125rem;
        color: #e7e7e7;
        text-transform: uppercase;
    }

    .testimonials-author {
        font-size: 1.125rem;
        font-weight: 300;
        color: #b2b2b2;

        a {
            @include transition(font-weight color);

            &:hover {
                font-weight: bold;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.contact {
    @include block-style(white);

    .colour-line {
        margin-bottom: 3.15rem;
    }
}
