.welcome {
    @include flex(wrap,column,center,center);

    height: 100vh;
    padding: 10% $padding-hor $padding-ver;
    background-color: black;

    .welcome-text {
        width: 100%;
        padding-bottom: 20%;
        text-align: center;
    }

    .welcome-tittle {
        margin-bottom: 1.25rem;
        font-size: 2.75rem;
        color: #999;
        letter-spacing: -2px;

        b {
            font-weight: 700;
            color: $orange;
        }
    }

    .welcome-description {
        font-size: 1.25rem;
        color: #fff;
        letter-spacing: -1px;

        b {
            font-weight: 700;
        }
    }
}

.about {
    @include flex(unset, unset, space-between, flex-start);
    @include block-style(white);

    // align-items:flex-start
    // min-height: 100vh;
    margin: 0 -1rem;

    %about-block {
        width: 44.5%;
    }

    .about-img-block {
        @extend %about-block;

        margin: 2.5rem 1rem;

        .about-image {
            @include transition(transform);

            transform: scale(0);
        }

        .about-image._active {
            transform: scale(1);
        }
    }

    .about-txt-block {
        @extend %about-block;

        padding-left: 4.25rem;
        margin-top: 2.32rem;
        text-align: left;

        h3 {
            margin: 0;
            color: #636363;
        }

        .colour-line {
            margin: 0.5rem 0 1.65rem;

            &::after {
                display: none;
            }
        }

        .about-title {
            margin-top: 3px;
            font-size: 2.125rem;
            color: #222;
            text-transform: uppercase;
            letter-spacing: -0.8px;

            b {
                font-weight: 700;
            }
        }

        .about-text {
            font-size: 1.125;
            line-height: 1.55em;
            letter-spacing: 0.15px;
        }

        .about-list {
            margin: 2.25rem 0 3rem 0;
            line-height: 2em;

            .about-list-term {
                display: inline;
                font-size: 1.125rem;
                color: #5a5a5a;

                &::before {
                    white-space: pre;
                    content: url(/images/marker.png) " ";
                }

                &::after {
                    font-weight: bold;
                    white-space: pre;
                    content: " - ";
                }

                // .about-list-marker {
                //     display: inline;
                //     float: left;
                //     height: 1.125rem;
                //     width: 1.125rem;
                // }
            }

            .about-list-definition {
                display: inline;
                width: 100%;
                letter-spacing: -0.15px;
            }
        }
    }
}

.team {
    @include block-style(black);

    color: white;

    .colour-line {
        margin: 0.75rem auto 6.5rem;
    }

    .team-img {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: auto;
            height: 100%;
        }
    }

    .team-item-title {
        padding: 1.2rem 0 2rem;

        .team-item-name {
            font-size: 1.25em;

            &:hover {
                color: $orange;
            }

            b {
                font-weight: 700;

            }
        }
    }

    .team-item-description {
        font-size: 0.875rem;
        line-height: 1.4rem;
    }
}

.services {
    @include block-style(white);

    .colour-line {
        margin: 0.75rem auto 3rem;
    }

    .services-list {
        @include flex(wrap, unset, center, unset);

        width: 100%;
        padding: 6.4rem 0;
        margin: -10px;
        overflow: hidden;

        .services-items {
            color: #222;
            opacity: 0;
            transform: translate(0, 120%);
        }

        &._active .services-items {
            opacity: 1;
            transform: translate(0, 0);

            @for $serviceNumber from 1 through 4 {
                $delayTime: $serviceNumber*0.2;

                &:nth-child(#{$serviceNumber}) {
                    transition: transform 0.8s ease #{$delayTime + s};
                }
            }
        }

        .services-items-link {
            @include flex(unset, column, unset, center);
            @include transition(box-shadow);

            padding: 0.5rem;
            border-radius: 10px;

            .services-icon {
                @include transition(background-color border-color);

                width: 125px;
                height: 125px;
                padding: 30px;
                border: solid 5px $orange;
                border-radius: 50%;
            }

            &:hover {
                box-shadow: 0 0 0 4px $gray;

                .services-icon {
                    background-color: $orange;
                    border-color: $gray;
                }
            }

            .services-items-tittle {
                margin: 1rem 0;
                font-size: 1.5625rem;
                text-transform: uppercase;
            }

            .services-items-description {
                width: 100%;
                font-size: inherit;
                font-size: 0.875rem;
            }
        }
    }
}

.clients {
    @include block-style(black);

    .clients-logo {
        width: 100%;
        background-color: white;
    }
}

.works {
    @include block-style(white);

    min-height: 100vh;

    p {
        padding-bottom: $padding-ver;
    }

    .works-filter {
        @include flex(none,none,space-between, center);

        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.125rem;
        color: #222;

        .filter-type {
            min-width: 20%;
            padding: 0;
            text-transform: uppercase;

            b {
                display: block;
            }
        }

        .filter-list {
            @include flex(null,null,flex-end, center);

            width: 100%;
            margin: -0.5rem 0;

            .filter-item {
                @include transition(color font-weight);

                padding: 0 1rem;
                margin: 0.5rem 0;
                text-transform: none;
                background: none;
                border-right: 2px solid $gray;

                &:last-child {
                    border-right: none;
                }

                &:hover {
                    font-weight: 600;
                }
            }
        }

        .filter-list_active {
            right: 0;
        }

        .filter-active {
            font-weight: 600;
        }
    }

    .works-list {
        margin: -1rem;

        .works-item-holder {
            position: relative;
            margin: 0.5rem;

            .works-img {
                width: 100%;
                height: 100%;
            }

            .works-overlay {
                @include flex(null,column,center, center);

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                background-color: #212121;
                opacity: 0;

                &:hover {
                    @include transition(opacity);

                    opacity: 0.8;
                }

                h3 {
                    color: white;
                }

                .overlay-chosen-filter {
                    font-size: 0.875rem;
                    color: #b2b2b2;
                }
            }
        }
    }
}

.testimonials {
    @include block-style(black);

    .testimonials-text {
        margin-bottom: 2rem;
        font-size: 1.125rem;
        color: #e7e7e7;
        text-transform: uppercase;
    }

    .testimonials-author {
        font-size: 1.125rem;
        font-weight: 300;
        color: #b2b2b2;

        a {
            @include transition(font-weight color);

            &:hover {
                font-weight: bold;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.contact {
    @include block-style(white);

    .contact-forms {
        padding: 0 $padding-hor;
    }
}
