.social-icons-list {
    @include flex(unset, null, space-between, center);

    margin-left: 1rem;

    .social-icons {
        @include transition(background-color color);
        @include flex(unset, unset, center, center);

        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
        border: 2px solid $gray;
        border-radius: 50%;

        &:hover {
            background-color: $orange;
            border-color: $orange;

            i {
                color: white;
            }
        }
    }
}
