@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Gotham-Font/gothambook.eot); /* IE9 Compat Modes */
    src:url(../fonts/Gotham-Font/gothambook.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/Gotham-Font/gothambook.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/Gotham-Font/gothambook.woff2) format('woff2'), /* Super Modern Browsers */
        url(../fonts/Gotham-Font/gothambook.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/Gotham-Font/gothambook.svg#svgFontName) format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GothamItalic';
    font-style: italic;
    src: url(../fonts/Gotham-Font/gothambookitalic.eot); /* IE9 Compat Modes */
    src:url(../fonts/Gotham-Font/gothambookitalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/Gotham-Font/gothambookitalic.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/Gotham-Font/gothambookitalic.woff2) format('woff2'), /* Super Modern Browsers */
        url(../fonts/Gotham-Font/gothambookitalic.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/Gotham-Font/gothambookitalic.svg#svgFontName) format('svg'); /* Legacy iOS */
}

i {
    font-family: 'GothamItalic', 'arial', cursive;
}

body {
    width: 100%;
    font-family: 'Gotham', 'arial', sans-serif;
    font-size: 16px;
    color: $gray;
}

h1 {
    margin-bottom: 1em;
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    padding: 1rem 0;
    font-size: 1.25rem;
    color: black;
    text-transform: uppercase;
}

h3 {
    margin: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

input, textarea {
    background: none;
    border: none;
}

button {
    @include transition(background-color color border);

    text-transform: uppercase;
    border-style: none;
}

%line {
    height: 4px;
    margin: 0.75em auto;
}

.colour-line, .under-colour-line {
    @extend %line;
 }

.colour-line {
    width: 6rem;
    background-color: $orange;
} 

.under-colour-line {
    width: 4rem;
    margin-bottom: 3rem;
}

%block {
    width: 100%;
    padding: $padding;
    text-align: center;
}

%black-block {
    @extend %block;

    background-color: black;

    h1 {
        color: white;
    }

    .under-colour-line {
        background-color: #b37b33;
    }
}

%white-block {
    @extend %block;

    background-color: white;

    h1 {
        color: black;
    }

    .under-colour-line {
        background-color: #fdc57c;
    }
}
