body {
    width: 100%;
    font-family: 'Open Sans', 'arial', sans-serif;
    font-size: 16px;
    color: $gray;
}

i {
    font-style: italic;
}

b {
    font-weight: 600;
}

h1 {
    margin-bottom: 1em;
    font-size: 2.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    background: none;
    border: 2px solid $gray;

    &:hover, &:focus {
        box-shadow: 0 3px 5px $gray;
    }

    &:invalid {
        border: 2px solid red;
    }
}

button {
    @include transition(background-color color border);

    text-transform: uppercase;
    border-style: none;
}

.colour-line {
    position: relative;
    width: 6rem;
    height: 0.25rem;
    margin: 0.75rem auto 6.5rem;
    background-color: $orange;

    &::after {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 4rem;
        height: 0.25rem;
        content: '';
    }
}

%block {
    width: 100%;
    padding: $padding;
    text-align: center;
}

%black-block {
    @extend %block;

    background-color: black;

    h1 {
        color: white;
    }

    .colour-line::after {
        background-color: #b37b33;
    }
}

%white-block {
    @extend %block;

    background-color: white;

    h1 {
        color: #222;
    }

    .colour-line::after {
        background-color: #fdc57c;
    }
}
